*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5000px;
} 

.header{
    height: 10%;
    background-color: aqua;
    position: relative;
}

.main{
    height: 90%;
    background-color: blueviolet;    
}

.footer{
    height: 10%;
    background-color: gray;
    position: relative;
    text-align: center;
}

/* PERFIL */
.perfil{
    height: 10%;
}

/* .sobreMi{
       
}

.detalles{
      
}  */

.redes{
    height: 5%;
}

/* EXPERIENCIA */
.experiencia{
    height: 20%;
}

/* .educacion{
}
 
.empleo{
}  */

/* HABILIDADES */
.habilidades{
    height: 40%;
    text-align: center;
}

/* .tecnologias{

}

.idiomas{

} */

/* HERRAMIENTAS */
/* .herramientas{

}  */

/* PROYECTOS */
.proyectos{
    height: 10%;
}

/* PERSONAL */
.personal{
    height: 15%;
}

.cajaNegra{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.cajaBlanca{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.cajaRoja{
    background-color: red;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cajas{
    display: flex;
    justify-content: space-around;
}

.mitad{
    width: 50%;
    padding: 0px 100px 0px 100px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center; 
    padding: 30px;
    font-size: 40px;   
} 

h3{
    padding-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

p{
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.circular {
    border-radius: 50%;
    min-width: 250px;
    height: 250px;     
}

/* LISTAS */
li{
    list-style: none;
}

li > a{
    text-decoration: none;
    color: black;
}

li > a:hover{
    text-decoration: underline;
}

.logoIT{
    width: 10%;
}