:root{
    --margin-cajas: 0px 80px 60px 80px;
    --border-radius: 5px 20px 5px 20px;
    --padding: 15px;

    /* COLORES */
    --color-azul: #3087cf;
    --color-naranja: rgb(255, 136, 0);
    --color-blanco: white;
}

*{
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    width: 100%;
    display: flex;
    flex-direction: column;   
    background-image: url(./recursos/HolaMundoPuerto.jpg); /* Esto permite que la imagen de fondo se quede fija */
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed
}

/* BARRA DE NAVEGACION */
.barraEnlaces{
    background-color: var(--color-azul);
    border: 2px solid rgb(34, 97, 148);
    border-radius: 10px;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding: var(--padding);
    position: fixed;
    z-index: 1;
    font-size: 25px;
    margin: 80px 80px 0px -80px;
    line-height: 1.5; 
    overflow: hidden;
}

.barraEnlaces a{
  text-decoration: none;
  color: var(--color-blanco);
  display: flex;
  justify-content: center ;
}

.barraEnlaces a:hover{
    background:linear-gradient(to bottom, #658fc2 5%, #7bade3 100%);
  background-color:#658fc2;
}

.barraEnlaces a:active{
  background-color:#144075;
  color: black
  }

/* CONTAINER */
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

/* HEADER */
.header{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--color-blanco); 
    position:relative;
}

.header h1{
    font-size: 80px;
    font-family:'Lobster';   
}

.header p{
    font-size: 40px;
    background-color: var(--color-naranja);
    color:var(--color-blanco);
    font-family:'Indie Flower';
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

/* MAIN */
.main{
    background: var(--color-blanco);
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(245,245,245,1) 22%, rgba(241,241,241,1) 30%, rgba(235,235,235,0.9) 40%, rgba(230,230,230,0.85) 50%, rgba(225,225,225,0.7) 60%, rgba(219,219,219,0.55) 70%, rgba(215,215,215,0.4) 80%, rgba(210,210,210,0.15) 90%, rgba(200,200,200,0) 100%);
    position:relative;  
}

/* PERFIL */
.perfil{
    display: flex;
    justify-content: space-evenly;
    position:relative;
    padding: 0px 100px 0px 100px;
}

.sobreMi{
    width: 500px
}

.sobreMi b{
    color:black;    
}

.circular {
    border-radius: 50%;
    min-width: 250px;
    height: 250px;
    margin-top: 40px;       
}

.detalles {
    width: 500px
}

/* REDES SOCIALES */
.redes{
    position:relative;
}

/* EXPERIENCIA */
.experiencia{
    position:relative;
    margin: 0px 400px 0px 400px; 
}

/* GRID EXPERIENCIA */
.expGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(60px, auto);
}

.expGrid b{
    background: rgb(255, 255, 255);
    color: var(--color-naranja);
    font-size: 22px;
    font-family: Arial; 
}

/* TECNOLOGIAS */
.logosGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.logosGrid h3{
    padding: 15px 15px 0px 0px;
}

.logosGrid div{
    padding: 0px 30px 0px 0px;
}

.logoIT{
    width: 150px;
    height: 150px;
    padding: 20px
}

/* PERSONAL */
.personal{
    position:relative;
    padding: 0px 50px;
    display: flex;
    justify-content: space-evenly;
}

/* VOLUNTARIADO */
.fotografias{
    width: 400px;
    height: 250px;
}

.voluText{
    width: 500px;
    padding-left: 150px
}

.voluText a{
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
.footer{
    height: 400px;
    position: absolute;
    text-align: center;
    position:relative;
}

.footer > a{
    display: flex;
    justify-content: center;
    margin:100px;
    font-size:100px;
    color:var(--color-naranja);
}

.footer > a:hover{
    color: rgb(212, 113, 0); 
} 

/* CAJAS */
.cajaGrande{
    display: flex;
    flex-direction: column;
    margin: var(--margin-cajas);
    border-radius: var(--border-radius);
    padding-bottom: 50px; 
}

.cajaNaranja{
    background: rgb(2,0,36);
    background: var(--color-naranja);
    background: linear-gradient(180deg, rgba(255,135,42,1) 10%, rgba(255,134,40,0.9) 20%, rgba(255,132,38,0.8) 30%, rgba(255,131,34,0.8) 40%, rgba(255,127,28,0.8) 50%, rgba(255,125,25,0.8) 60%, rgba(255,124,23,0.8) 70%, rgba(255,118,13,0.8) 80%, rgba(255,115,7,0.7) 90%, rgba(255,111,0,0.6) 100%);
    color: var(--color-blanco);
}

.cajaBlanca{
    background: rgb(201,201,201);
    background: linear-gradient(180deg, rgba(201,201,201,0.9) 70%, rgba(225,225,225,0.7) 80%, rgba(255,255,255,0.50) 90%);
    color: black;      
}

.cajaRoja{
    color: black;
}

.cajas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}

.cajas img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cajas img:hover{
    opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
  }
  @keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
  }

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* H GROUP */
h1 > strong{
    color: var(--color-azul);
}

h2{
    text-align: center; 
    padding: 30px;
    font-size: 45px;  
    font-family: Impact;
    display: block;
    border-radius: 0px 15px 0px 15px;
    padding: 15px 15px 0px 15px;
} 

h3{
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: var(--color-azul);
}

h4{
    font-size: 20px;
    font-family: Arial;
    
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* LISTAS */
li{
    list-style: none;
    font-size: 18px;
    color: rgb(36, 36, 36)
}

li > a{
    text-decoration: none;
    color: black;
}

li > a:hover{
    text-decoration: underline;
  }

img{
    border-radius: var(--border-radius);
}
    
/* BOTON CONTACTAR */
.contactameButton {
	background:linear-gradient(to bottom, #7bade3 5%, #658fc2 100%);
	background-color:#7bade3;
	border-radius:33px;
	border:3px solid #4c8ede;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:20px 40px;
	text-decoration:none;
    margin-top: 40px;
}

.contactameButton:hover {
    background:linear-gradient(to bottom, #658fc2 5%, #7bade3 100%);
    background-color:#658fc2;
    }

.contactameButton:active {
    position:relative;
    top:1px;
}

/* CUADRICULA 3X2 */
._1f1c {
    grid-column: 1;
    grid-row: 1;
}

._2f2c { 
    grid-column: 2;
    grid-row: 2;
}

._2f1c {
    grid-column: 1;
    grid-row: 2;
}

._1f2c {
    grid-column: 2;
    grid-row: 1 ;
}

._3f1c {
    grid-column: 1;
    grid-row: 3;
}

._3f2c {
    grid-column: 2;
    grid-row: 3;
}

  /* --------------------------------------------------- */
  /* CONTACTO.HTML */
 
.cajaContacto{ 
    margin-top: 80px;
}

.interiorCajaCont{
    display: flex;
    justify-content: space-evenly;
}

.interiorCajaCont li{
    font-size: 20px; 
    padding-bottom: 20px;   
}

/* INFORMACION DE CONTACTO */
.contactoRedes img{
    width: 70px;
    height: 70px;
    padding: 20px;
    color: black;
}

.nombreContacto{
    background-color: var(--color-blanco);
    margin-top: 80px;
    padding: 10px;
    border-radius: 15px;
}

.nombreContacto > h4{
    color: var(--color-azul);
    font-size: 40px;
    font-family:'Lobster';    
}

.nombreContacto p{
    font-size: 20px;
    background-color: var(--color-naranja);
    color:var(--color-blanco);
    font-family:'Indie Flower';
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    margin: 0px 40px 0px 40px;
}

/* FORMULARIO CONTACTO */
.formulario input{
    width: 300px;
    height: 40px;
    background-color: rgb(202, 202, 202);
    border-radius: var(--border-radius);
    padding-left: 10px;
    font-size: 18px;
    font-family: Arial;
    margin-block-end: 0px;
}

.formulario textarea{
    background-color: rgb(202, 202, 202);
    border-radius: var(--border-radius);
    padding: 10px;
    font-size: 18px;
    font-family: Arial;
}

/* BOTON CONTACTO */
.submitButton {
	background-color: var(--color-azul);
	border-radius:9px;
	border:3px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 100px;
    text-decoration:none;
    margin-left: 40px;
}

.submitButton:hover {
	background-color:rgb(46, 111, 191);
}
.submitButton:active {
	position:relative;
	top:1px;
}

/* --------------------------------------------------- */
/* PROYECTOS.HTML */

.proyectos{
    margin-top: 80px;
}

.proyecto{
    margin-bottom: 50px;
}

.proyecto img{
    width: 400px;
    height: 230px;
}

.proyecto a{
    z-index: -1;
}

.proyGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* OPACITY BOX */
.proyectoImg {
    position: relative;
    background-color: white;
    border-radius: var(--border-radius)
}
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: var(--border-radius)
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.proyectoImg:hover .image {
    opacity: 0.3;
}
  
.proyectoImg:hover .middle {
    opacity: 1;
}
/* ----- */

.text {
    color: black;
    font-family: "Lobster";
    font-size: 30px;
}